<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper urna non orci facilisis volutpat. Proin mi purus, hendrerit nec aliquam vitae, tempor a ligula. Integer tristique dolor tellus, non porta magna vehicula a. Fusce ultricies cursus mi, ac congue velit malesuada auctor. Nunc lectus tortor, pellentesque ut erat quis, posuere mollis nibh. Nullam ut diam a erat sollicitudin semper. Integer at arcu enim. Etiam ut posuere felis, ac mattis sem. Sed et iaculis est. Nulla egestas urna vitae metus aliquet, interdum tempor lorem dictum. Quisque vitae varius purus. Proin auctor commodo sem in molestie. Pellentesque lacus tellus, feugiat non ex vitae, varius iaculis purus. Sed sit amet faucibus arcu, id eleifend velit. Vestibulum id mi eu velit molestie sagittis. Praesent feugiat euismod auctor.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Explore</h4>
          <ul class="list-unstyled">
            <%= nav_helper 'text-white', 'li' %>
            <li><%= login_helper 'text-white' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href=<%=about_me_path%> class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Cristi Zanfir</strong>
        <strong><%= link_to "Create New Item", new_portfolio_path, class: 'btn btn-secondary my-2' if logged_in?(:site_admin) %></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
