<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>Strada Coriolan Brediceanu 10, Timișoara 300011</p>

    <h3>Phone</h3>
    <p><%= number_to_phone "+40723362641" %></p>

    <h3>Email</h3>
    <p><a href="mailto:zanfircristian92@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11134.948251558728!2d21.22109!3d45.756417!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc919adf009a87419!2sUnifiedpost+SRL!5e0!3m2!1sen!2sro!4v1521640669842" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>



