<div class="inner cover full-width">
  <div class="row">
    <%= render 'tweets_section', tweets: @tweets[:rails], title: 'Rails News' %>
    <%= render 'tweets_section', tweets: @tweets[:java], title: 'Java News' %>
    <%= render 'tweets_section', tweets: @tweets[:coding], title: 'Coding News' %>
  </div>
</div>